<h2>本のタイトル</h2>
<p class = "form-title"><%= @booker.title %></p>


<h2>本の感想文</h2>
<p class = "form-body"><%= @booker.body %></p>

<br>

<div class ="area-button">
    <%= link_to edit_booker_path(@booker.id), class: "button" do %>
    <p>編集</p>
    <% end %>

    <%= link_to booker_path(@booker.id), method: :delete, "data-confirm" => "削除してよろしいですか？", class: "button" do %>
    <p>削除</p>
    <% end %>

    <%= link_to bookers_path, class: "button" do %>
    <p>戻る</p>
    <% end %>
</div>
