<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
    <h1 class="headline">Books</h1>
  <nav>
    <ul class="nav-list">
      <%= link_to '/', class: "nav-list-item" do %>
      <li>トップページ</li>
      <% end %>

      <%= link_to new_booker_path, class: "nav-list-item" do %>
      <li>新規投稿</li>
      <% end %>

      <%= link_to bookers_path, class: "nav-list-item" do %>
      <li>投稿一覧</li>
      <% end %>
    </ul>
  </nav>
    </header>


    <main>
      <%= yield %>
    </main>

  </body>
</html>
